body {
    margin: 0;
    padding: 0;
    color: '#0F0';
}

.enterText {
    color: #00F;
    font-size: 5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
